.resourceNav {
  //   max-width: 1150px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 38px;
  flex-wrap: wrap;
  a {
    text-decoration: none;
  }
}
.resourceCard {
  background-color: #fff;
  width: 358px;
  //   min-height: 449px;
  min-height: 445px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  //   gap: 47px;
  box-shadow: 0px 0px 20px rgba($color: #000000, $alpha: 0.22);
  .cardImage {
    // height: 218px;
    width: 100%;
    height: 50%;
  }
  .pageTitle {
    color: map-get($map: $webColors, $key: "purple");
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 47px;
    transition-duration: 0.4s;
    min-height: 226px;
    h1 {
      font-size: 36px;
      font-family: Inter_ExtraBold;
      font-style: italic;
      margin-bottom: 0;
      //   text-align: center;
    }
  }
  &:hover {
    .pageTitle {
      background-color: map-get($map: $webColors, $key: "darkPurple");
      color: #ffffff;
    }
  }
  &:active {
    transition-duration: 0.25s;
    .pageTitle {
      background-color: map-get($map: $webColors, $key: "lightPurple");
    }
  }
}
.resourceHeader {
  margin-bottom: 20px;
  h1 {
    color: map-get($map: $webColors, $key: "purple");
    margin-bottom: 0;
    font-family: Inter_Bold;
    font-size: 64px;
  }
  .backLink {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
    max-width: 300px;
    margin-bottom: 62px;
    &:hover {
      a {
        color: map-get($map: $webColors, $key: "orange");
      }
      .leftArrow {
        filter: $orangeFilter;
      }
    }
    &:active {
      a {
        color: map-get($map: $webColors, $key: "lightOrange");
      }
      .leftArrow {
        filter: $light_orangeFilter;
      }
    }
    a {
      color: #000000;
      text-decoration: none;
      font-size: 24px;
    }
    .leftArrow {
      width: 36px;
      height: 36px;
      filter: brightness(0) saturate(100%);
      overflow: hidden;
      transition: 0.2s;
    }
  }
}
.resourceLinks {
  max-width: 1180px;
  font-size: 16px;
  h2 {
    color: map-get($map: $webColors, $key: "orange");
    font-size: 36px;
    font-family: Inter_Bold;
    font-style: italic;
    margin-top: 50px;
  }
  a,
  p {
    font-family: Inter_Bold;
  }
  a {
    color: #000000;
    text-underline-offset: 3px;
    &:hover {
      color: map-get($map: $webColors, $key: "orange");
    }
    &:active {
      color: map-get($map: $webColors, $key: "lightOrange");
    }
  }
  ul {
    list-style: none;
    line-height: 55px;
  }
  .listBullet {
    list-style: disc;
    margin-left: 50px;
  }
}
