@font-face {
  font-family: Inter_Light;
  src: url(assets/fonts/Inter/Inter_18pt-Light.ttf);
}
@font-face {
  font-family: Inter_Regular;
  src: url(assets/fonts/Inter/Inter_18pt-Regular.ttf);
}
@font-face {
  font-family: Inter_Medium;
  src: url(assets/fonts/Inter/Inter_18pt-Medium.ttf);
}
@font-face {
  font-family: Inter_SemiBold;
  src: url(assets/fonts/Inter/Inter_18pt-Bold.ttf);
}
@font-face {
  font-family: Inter_Bold;
  src: url(assets/fonts/Inter/Inter_18pt-Bold.ttf);
}
@font-face {
  font-family: Inter_ExtraBold;
  src: url(assets/fonts/Inter/Inter_18pt-ExtraBold.ttf);
}
@font-face {
  font-family: Inter_Black;
  src: url(assets/fonts/Inter/Inter_18pt-Black.ttf);
}
