button {
  font-family: Inter_Bold;
  font-size: 20px;
  text-transform: capitalize;
  border-radius: 100px;
  border-style: none;
  padding: 5px 10px;
  cursor: pointer;
  transition-duration: 0.25s;
}
.purpleBTN {
  background-color: map-get($map: $webColors, $key: "purple");
  color: #ffffff;
  transition-duration: 0.2s;
  &:hover {
    background-color: map-get($map: $webColors, $key: "darkPurple");
  }
  &:active {
    background-color: map-get($map: $webColors, $key: "lightPurple");
  }
}
.topButton {
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 100px;
  padding: 18px 27px;
  color: #000000;
  font-size: 24px;
  font-family: Inter_Regular;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 15px;
  transition-duration: 0.25s;
  a {
    color: #000000;
    text-decoration: none;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    // gap: 28px;
    gap: 15px;
  }
  .arrowUp {
    width: 17px;
    display: flex;
    transition: ease-in 0.15s;
    img {
      width: 125%;
    }
  }
  &:hover {
    border: 1px solid map-get($map: $webColors, $key: "orange");
    color: map-get($map: $webColors, $key: "orange");
    .arrowUp {
      filter: $orangeFilter;
    }
  }
}
.businessBTNs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 36px;
  button {
    padding: 12px 60px;
    // height: 64px;
    min-height: 64px;
    text-transform: none;
    font-family: Inter_SemiBold;
  }
}
.brownBTN {
  background-color: rgba(
    $color: map-get($map: $webColors, $key: "orange"),
    $alpha: 0.69
  );
  color: #ffffff;
  &:hover {
    background-color: map-get($map: $webColors, $key: "orange");
  }
}
.grayBTN {
  background-color: rgba($color: #ffffff, $alpha: 0.69);
  &:hover {
    background-color: #ffffff;
  }
}
.whiteBTN {
  background-color: #ffffff;
  color: map-get($map: $webColors, $key: "purple");
  border: 2px solid map-get($map: $webColors, $key: "purple");
  transition-duration: 0.2s;
  &:hover {
    color: map-get($map: $webColors, $key: "lightPurple");
    border: 2px solid map-get($map: $webColors, $key: "lightPurple");
  }
}
