// Styles for the Home Page
.homeHeader {
  height: 438px;
  max-width: $site-width;
  background-image: url(assets/images/background/homeHero.png);
  background-size: cover;
  background-position: top;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  // Fixed Value: // margin-left: 177px;
  // padding-left: 11.0625vw;
  padding-left: clamp(88px, 9.933vw, 177px);
}
.homeHeroText {
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  h1 {
    color: #ffffff;
    font-family: Inter_Bold;
    font-size: 64px;
    // font-size: clamp(64px, 45.7143px + 1.7857vw, 80px);
    max-width: 570px;
    text-wrap: balance;
    margin-bottom: 0;
    text-shadow: 2px 2px 4px rgba($color: #000000, $alpha: 0.25);
  }
  p {
    margin-bottom: 0;
    color: #ffffff;
    max-width: 734px;
    font-size: 21px;
  }
  .purpleBTN {
    width: 231px;
    height: 65px;
    font-size: 18px;
    font-family: Inter_SemiBold;
  }
}
.homeIMG {
  // width: 50%;
  width: 888px;
  height: 100%;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}
.homeContent {
  position: relative;
  h1 {
    color: map-get($map: $webColors, $key: "purple");
    font-family: Inter_Bold;
    font-style: italic;
    font-size: 64px;
    text-align: center;
    margin: 75px;
  }
  .topButton {
    position: fixed;
    z-index: 10;
    right: 58px;
    bottom: 4vh;
  }
}
.eventsSection {
  background-color: #2b0038;
  min-height: 506px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 324px;
  h2 {
    color: #ffffff;
    font-family: Inter_SemiBold;
    font-size: 48px;
    font-style: italic;
    margin-bottom: 41px;
    align-self: flex-start;
  }
  .groupRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 26px;
    width: 100%;
  }
  .eventCard {
    // max-width: 406px;
    width: 406px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    .eventIMG {
      height: 200px;
      border-radius: 10px;
      overflow: hidden;
    }
    .eventTitle {
      display: flex;
      align-items: center;
      justify-content: space-between;
      h3 {
        font-size: 36px;
        font-family: Inter_Medium;
        color: #ffffff;
        margin-bottom: 0;
      }
      .eventLink {
        background-color: map-get($map: $webColors, $key: "purple");
        height: 40px;
        width: 141px;
        border-radius: 100px;
        transition-duration: 0.3s;
        a {
          color: #ffffff;
          text-decoration: none;
          font-family: Inter_Bold;
          font-style: italic;
          font-size: 20px;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          height: 100%;
        }
        &:hover {
          background-color: map-get($map: $webColors, $key: "darkPurple");
        }
      }
    }
    .eventDate {
      color: map-get($map: $webColors, $key: "orange");
      p {
        margin-bottom: 0;
      }
    }
  }
}
.homeSection,
.actionTeamSect,
.fallSection {
  min-height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  .sectionPhoto {
    width: 636px;
    height: 336px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  article {
    // max-width: 580px;
    min-height: 430px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    p {
      line-height: 40px;
      text-wrap: pretty;
    }
    strong {
      font-family: Inter_Bold;
    }
    .purpleBTN {
      font-size: 20px;
      height: 57px;
      padding: 5px 57px;
    }
    a {
      font-family: Inter_Bold;
      color: #000000;
      text-underline-offset: 4px;
      &:hover {
        color: map-get($map: $webColors, $key: "orange");
      }
      &:active {
        color: map-get($map: $webColors, $key: "lightOrange");
      }
    }
  }
  .eventDescription {
    max-width: 640px;
    // width: 50%;
  }
}
.homeSection {
  box-shadow: 0px 0px 20px 0 rgba($color: #000000, $alpha: 0.13);
  padding: 50px;
  position: relative;
  z-index: 2;
  overflow: hidden;
  .missionText {
    max-width: 580px;
    strong {
      font-family: Inter_Bold;
      a {
        font-family: Inter_Bold;
      }
    }
    a {
      font-family: Inter_Regular;
    }
  }
  .purpleRing {
    border: 9px solid
      rgba($color: map-get($map: $webColors, $key: "purple"), $alpha: 0.24);
    border-radius: 50%;
    position: absolute;
    z-index: -1;
  }
  .ring1 {
    height: 200px;
    width: 200px;
    left: -100px;
    bottom: 63px;
  }
  .ring2,
  .ring3 {
    height: 273px;
    width: 273px;
  }
  .ring2 {
    left: -96px;
    bottom: -107px;
  }
  .ring3 {
    top: -80px;
    right: -65px;
  }
}
.missionSect {
  gap: 145px;
  .careVisual {
    .purpleText {
      color: map-get($map: $webColors, $key: "purple");
    }
    .orangeText {
      color: map-get($map: $webColors, $key: "orange");
    }
    .rowContainer {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      gap: 195px;
      margin: 10px;
    }
  }
  .careIcon {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 12px;
    h2 {
      font-size: 32px;
      font-family: Inter_Bold;
      margin-bottom: 0;
      max-width: 195px;
      text-align: center;
    }
    img {
      max-width: 50px;
      min-width: 45px;
    }
  }
  article {
    p {
      margin-bottom: 0;
    }
  }
}
.actionTeamSect {
  padding: 0 50px;
  .sectionPhoto {
    width: 458px;
    height: 384px;
    overflow: hidden;
    border-radius: 20px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  article {
    max-width: 742px;
    min-height: 430px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    p {
      font-size: 24px;
      line-height: 40px;
      text-wrap: pretty;
      margin-bottom: 35px;
    }
    .btnGroup {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      gap: 29px;
    }
    .purpleBTN,
    .whiteBTN {
      font-size: 20px;
      padding: 5px 19px;
      height: 57px;
      width: 223px;
    }
  }
}
.actionTeamLogos {
  border-bottom: 2px solid map-get($map: $webColors, $key: "purple");
  padding: 0 25px 60px;
  // padding-bottom: 60px;
  h2 {
    font-family: Inter_Medium;
    font-size: 40px;
    max-width: 1280px;
    margin: 0 auto;
  }
  .logoGallery {
    max-width: 1280px;
    min-height: 170px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    // flex-wrap: wrap;
    gap: 30px;
  }
  .businessLogo {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
.fallSection {
  background-color: #ba907c;
  color: #ffffff;
  padding: 101px 50px;
  position: relative;
  z-index: 1;
  article {
    .eventTitle {
      hr {
        border: 1px solid #ffffff;
      }
    }
    a {
      color: #ffffff;
    }
    .buttonWrap {
      margin-top: 37px;
    }
    .purpleBTN {
      padding: 5px 19px;
      font-family: Inter_SemiBold;
    }
  }
}
.eventTitle {
  max-width: 600px;
  h2 {
    font-family: Inter_SemiBold;
    font-size: 48px;
    margin-bottom: 8px;
  }
  hr {
    width: 241px;
    border: 1px solid #000000;
    margin-bottom: 21px;
  }
}
.aboutGrid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 30px;
  margin-bottom: 45px;
  .aboutItem {
    h3 {
      color: map-get($map: $webColors, $key: "purple");
      font-family: Inter_Bold;
      font-size: 32px;
      margin-bottom: 16px;
    }
    p {
      margin-bottom: 0;
      line-height: 35px;
    }
    ul {
      li {
        margin-left: 30px;
        font-size: 24px;
      }
    }
  }
}
.buttonWrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.peopleSection {
  margin-top: 89px;
  margin-bottom: 85px;
}
.personCard {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 98px;
  padding: 0 30px;
  .personPhoto {
    width: 415px;
    height: 415px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: -22px 24px map-get($map: $webColors, $key: "purple");
  }
  .personText {
    max-width: 789px;
    .personTitle {
      margin-bottom: 30px;
      h2,
      h3 {
        margin-bottom: 11px;
      }
      h4 {
        margin-bottom: 0;
      }
    }
    h2,
    h3,
    h4,
    a {
      color: map-get($map: $webColors, $key: "purple");
    }
    h3,
    h4 {
      font-style: italic;
    }
    h2 {
      font-family: Inter_Bold;
      font-size: 40px;
    }
    h3 {
      font-family: Inter_Medium;
      font-size: 24px;
    }
    h4,
    a {
      font-family: Inter_Regular;
      font-size: 22px;
      font-weight: normal;
    }
    a {
      text-underline-offset: 4px;
      &:hover {
        color: map-get($map: $webColors, $key: "lightPurple");
      }
      &:active {
        color: map-get($map: $webColors, $key: "darkPurple");
      }
    }
    p {
      font-size: 20px;
      line-height: 34px;
    }
  }
}
@media screen and (max-width: 1280px) {
  .homeSection,
  .fallSection {
    flex-direction: column;
  }
  .missionSect {
    gap: 0;
    .careVisual {
      margin-top: 75px;
    }
    article {
      p {
        text-align: center;
      }
    }
  }
  .actionTeamSect {
    margin: 45px 0 25px;
    flex-direction: column-reverse;
    gap: 25px;
    article {
      max-width: 80%;
      a {
        margin: 0 auto;
      }
    }
    .sectionPhoto {
      width: 85%;
    }
  }
  .actionTeamLogos {
    padding: 15px 60px 25px;
  }
}
@media screen and (max-width: 1410px) {
  .eventsSection {
    // padding: 45px 0;
    padding: 45px 25px;
  }
}
@media screen and (max-width: $iPad-width) {
  .eventsSection {
    h2 {
      align-self: center;
    }
    .groupRow {
      flex-direction: column;
    }
  }
}
